RewriteEngine On

# Sheria ya /ws imezimwa kwa sababu WebSocket sasa inaunganishwa moja kwa moja bila kupitia Apache proxy
# RewriteCond %{HTTP:Upgrade} =websocket [NC]
# RewriteCond %{HTTP:Connection} upgrade [NC]
# RewriteRule ^ws/?(.*) ws://127.0.0.1:8080/$1 [P,L]
